@import url('http://fonts.googleapis.com/css?family=Inconsolata');

body{
	background-color: #ffffff;
	font-size:100%;
	margin:0;
	padding:0;
	width:100%;
	font-family:'Inconsolata',serif;
}


hr{
	width:50%;
	color:#f3e0d3;
}

p{
	color:#f5e4d8;
	font-family: 'Inconsolata', serif;
	font-size: 0.8em;
}

strong{
	color:#fef3ec;
}

a{
	color:#d59a9d;
}

a:hover{
	color:#f9f2ed;
}

#header{
	width:100%;
	margin:0;
	padding:0;
}

#header img{
	margin:7% auto 0 auto;
	display:block;
	padding:0;
	height:77px;
	width:230px;
}

#special{
	color:#f9ede4;
}

#lineBreak{
	color:#ccc;
}

h1{
	color: #ffffff;
	font-family: 'Inconsolata', serif;
	font-size: 1.2em;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	
}

h2{
	color:#f5e4d8;
	font-family: 'Inconsolata', serif;
	font-size: 1em;
}

h3{
	color: #ffffff;
	font-family: 'Inconsolata',serif;
	font-size: 1em;
	text-transform: uppercase;
	
}
ul{
	list-style-type: circle;
	padding:0;
	margin:0;
}

ul li{
	color:#ccc;
	font-size:0.8em;
	margin:0;
}

.nav{
	width:100%;
	margin:1% auto 0 auto;
}

.nav ul{
	text-align: center;
	list-style: none;
	padding: 5px 10px;
	margin:0 auto 0 auto;
}

.nav ul li{
	color:#d59a9d;
	font-family: 'Inconsolata',serif;
	font-size:0.9em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	display:inline-block;
	opacity: 0.9;
	filter: alpha(opacity=100);
	border-bottom: 1px solid #ccc;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	margin:0 auto 0 auto;
}

.nav ul li:hover{
	color:#ee717c;
	opacity: 0.3;
	border-bottom:1px solid #aa4b73;
}

.aboutPage{
	margin:0 auto;
}
.workPage{
	margin:0 auto;
}
.contactPage{
	margin:0 auto;
}

.panel{
	background-color:#aa4b73;
	box-shadow: 1px 0px 10px #aa4b73;
	-webkit-box-shadow: 1px 0px 10px #aa4b73;
	-moz-box-shadow: 1px 0 10px #aa4b73;
	border: 20px #f3e0d3 ;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	text-align:center;
	width: 400px;
}

.panel h1{
	font-style:bold;
	text-shadow: 0 0 3px #aa4b73;
}

.panel p{
	color: #f5e4d8;
	font-family: 'Inconsolata', serif;
	font-size:0.8em;
	width:85%;
	list-style-type: none;
	margin: 1% auto 3% auto;
	text-shadow: 1px 1px 1px #8b3d67;

}


.panel img {
	width:100px;
	margin:3% auto 1% auto;
	border: 2px solid #fef3ec;
	transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
	
}

#round{
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
	box-shadow: 1px 1px 5px #611941;
}

.panel img:hover{
	border: 3px solid #fef3ec;
	opacity:0.9;
	filter:alpha(opacity=100);
}

#header img:hover{
	opacity:0.7;
	filter:alpha(opacity=100);
}

.icons{
	width:85%;
	margin:0 auto;
	padding:0;
}

.icons img{
	display: inline-block;
	width: 50px;
	height: 50px;
	box-shadow: 0px 0px 2px #611941;
	transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
}

.icons img:hover{
	border: 2px solid #fef3ec;
	opacity:0.5;
	filter:alpha(opacity=100);

}

.arrow {
	border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #aa4b73;
    height: 0;
    margin: 1% 54% 0 46%;
    width: 0;
    z-index:1;
}

.workPage .arrow{
	margin: 1% 52% 0 48%;
}
.contactPage .arrow{
	margin: 1% 48% 0 52%;
}

table, td{
	background-color: #ffffff;
	text-align:left;
	margin: 0 auto 8px auto;
	font-family: 'Inconsolata', serif;
	color: #ba607d;
	border: 5px solid #fef3ec;
	border-collapse:collapse;
}

table{
	box-shadow: 1px 1px 10px #611941;
	width:90%;
}

th,td{
	font-size:0.8em;
	margin:5px;
	padding:8px;
	box-shadow: 5px 5px 10px #611941;
}

#tableTitle{
	width:25%;
	color: #ccc;
	text-decoration: underline;
	font-style:bold;
	text-transform: uppercase;
}

#footer{
	margin:0 auto 30% auto;
	width:100%;
	font-size:0.8em;
	opacity: 0.7;
	filter: alpha(opacity=100);
	text-align:center;
	padding:1% 0 0 0;
}

#footer p{
	text-transform: uppercase;
}

#footer a {
	text-decoration: underline;
}


#workboxes{
    clear:both;
    overflow:hidden;
    font-size:0.8em;

}

.workbox {
	margin: 2% auto;
    display:inline-block;
    width:90%;
    height:50%;
    padding:3%;
    background:#ffffff;
    color:#ccc;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    background-position:320px 20%;
    background-repeat:no-repeat;
    text-decoration: none;
    box-shadow: 1px 1px 5px #611941;
    text-align:left;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

}
.workbox h1 {
    font: bold 1.2em 'Inconsolata' serif;
    color:#ccc;
    text-transform:uppercase;
    padding:0 0 0 4%;
    text-shadow: none;
    width:100%;

}
.workbox:hover h1 {
    text-shadow:0 0 10px rgba(0,0,0,0.4);
    color:#f5e4d8;
    font-style:bold;
}
.workbox p {
    font-size:0.9em;
    width:60%;
    color:#eeeced;
    text-shadow: none;
    padding: 0 55% 0 4%;
}
.workbox:hover p {
    color:#ffffff;
    text-shadow:0 0 4px rgba(0,0,0,0.4);
}

.workbox:hover {
    background-position:95%;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
#workresearch{
    background-image:url("images/oadi.png");
    background-position:125%;
}
#workresearch:hover {
    background-color:#4f213a;
    background-position:95%;
}
#workcode {
    background-image:url("images/workcode.png");
    background-position:125%;
}
#workcode:hover {
    background-color:#4f213a;
    background-position:95%
}
#workart{
    background-image:url("images/workart.png");
    background-position:125%;
}
#workart:hover {
    background-color:#4f213a;
    background-position:95%;
}
.workbox:hover p {
    color:#ffffff;
}

#resumeboxes{
	clear:both;
	overflow:hidden;
	column-count:2;
    column-gap:0.5%;
	-moz-column-count:2;
    -moz-column-gap:0.5%;
    -webkit-column-count:2;
    -webkit-column-gap:0.5%;
}

.resumebox{
	display:inline-block;
	margin: 2% auto;
    width:90%;
    height:100%;
    padding:3%;
	background:#ffffff;
	box-shadow: 1px 1px 5px #4f213a;
}

.resumebox h1{
	margin:0;
	color:#d59a9d;
	font-size: 1em;
	width:90%;
	padding:1%;
	width:100%;
	text-align:left;
	text-shadow:none;
	padding-top: 1%;
}	

.resumebox p{
	color:#ccc;
	margin:0;
	padding:1%;
	text-align:left;
	width:90%;
	text-shadow:none;
}

.meter{
		width:100%;
		height:30%;
		margin:0 auto;
		background: #857b7e;
		border-radius:13px;
		-moz-border-radius: 13px;
		-webkit-border-radius: 13px;
		padding: 0.5%;
		box-shadow: 1px 1px 5px #292426;
}
.meter > div {
		background-image:url("images/progressbg.png");
		width:70%;
		height:11px;
		border-radius:9px;
		box-shadow: 1px 1px 5px #292426;

	}
		
/*-- 
.panelOne .showOnHover{
display:none:

.panelOne:hover .showOnHover
display: inlineblock--*/